        body {
            background-color: rgb(221, 175, 220);
            font-family:'Courier New', Courier, monospace
        }

        h1 {
            color: rgb(121, 78, 120) ; 
            text-align: center;
           font-size: 50px;
        }

        p {
            color: rgb(121, 78, 120);
            font-size: 18px;
        }

        img {
            border: 70px solid transparent;
            border-image: url(https://png.pngtree.com/png-vector/20230104/ourmid/pngtree-valentines-day-simple-heart-border-square-heart-border-png-image_6549690.png) 60 round;
           
  
        }

        table, th, td {
            border: 2px solid rgb(121, 78, 120); 
            border-collapse: collapse; 
        }

        ul {
            color: rgb(121, 78, 120);
            font-size: 18px;
           
        }

        h2 {
            color: rgb(121, 78, 120);
            
        }

        #firstimage {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        table {
            font-size: medium;
        }

        #page2 {
            color: rgb(226, 43, 67);

        }

        @keyframes fall {
        0% {
         transform: translateY(-100px) translateX(calc(var(--random-x) * 100vw)); /* Start above, random horizontal position */
         opacity: 0;
         }
         20% {
          opacity: 1; /* Fade in */
         }
        80% {
         opacity: 1; /* Stay visible during fall */
         }
        100% {
        transform: translateY(calc(100vh + 100px)) translateX(calc(var(--random-x) * 100vw)); /* Fall below, maintain random horizontal position */
        opacity: 0; /* Fade out */
         }
}
        